<!DOCTYPE html>

<html ng-app="myApp">

  <head>
    <meta charset="utf-8">
<!-- Sourcing -->
    <script src="public/vendors/angular.js"></script>
    <script src="public/vendors/jquery-2.2.4.min.js" charset="utf-8"></script>

    <script src="public/vendors/angular-route.js" charset="utf-8"></script>
    <script src="public/vendors/angular-animate.js" charset="utf-8"></script>
    <script src="public/vendors/ui-bootstrap.js" charset="utf-8"></script>
    <script src="public/vendors/angular-sanitize.js" charset="utf-8"></script>
    <script src="public/vendors/ui-bootstrap-tpls.js" charset="utf-8"></script>

    <link rel="stylesheet" href="public/vendors/bootstrap.min.css" />
    <link rel="stylesheet" href="public/css/stylesheet.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="public/vendors/font-awesome-4.6.3/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Maven+Pro" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="public/assets/favicon.png"/>

    <script src="public/scripts/script.js"></script>
  </head>

  <body>

    <!-- <div class="linkDiv">
      <a class="socialLinks" href="https://www.linkedin.com/in/waldroncraig"><i class="fa fa-linkedin fa-2x" aria-hidden="true"></i></a>
      <a class="socialLinks" href="https://github.com/craigjwaldron"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a>
      <a class="socialLinks" href="https://codepen.io/craigdubya/"><i class="fa fa-codepen fa-2x" aria-hidden="true"></i></a>
    </div> -->

    <!-- <div class="jumbotron">
      <div class="introDiv container">

          <h1 class="nameHeader"> CRAIG WALDRON </h1>

          <h3 class="subHeader"> SOFTWARE DEVELOPER </h3>

        <div>
          <a class="ghost-button-transition" href="#about" data-transition="slide" style="text-decoration:none;">ABOUT ME</a>
        </div>
      </div>
    </div> -->

    <div class="aboutDiv" id="about">
      <div class="meDiv row">
        <div class="col-md-6 picDiv">
        </div>

        <div class="col-md-6 selfText">
          <h2 class="meTitle">I have an extraordinary passion for functionality blended with beauty.</h2>
          <div class="borderTitle">
          </div>
          <p class="mePara">I have experience with both back end and front end development, however, my passion and allegiance lie with front end development. Additionally, I have a background in graphic design and find great joy in combining my two skill sets. Please check out my repertoire below to see the technologies I have worked with and peruse through some of my projects.</p>
          <!-- <div>
            <a class="ghost-button-transition-2" href="#projects" data-transition="slide" style="text-decoration:none;">MY PROJECTS</a>
          </div> -->
        </div>

      </div>
      <div class="skillsDiv">
        <img class="skillsPhoto" src="public/assets/skills_3.jpg" alt=""/>
      </div>

      <div class="linkDiv">
        <div class="projects">
          <h2 class="meTitle meTitle2">Projects</h2>
          <div class="borderTitle borderTitle2">

          </div>
        </div>
      </div>
    </div>


<!-- PROJECT THUMBNAIL LAYOUT -->
<div id="projects" class="allProjects" ng-controller="ModalDemoCtrl as $ctrl">
  <div class="row projectDiv">
    <div class="col-md-4">
      <div class="thumbnail hovereffect" ng-click="$ctrl.nl('lg')">
        <img src="public/assets/nl_main.jpg" class="projectLrg">
        <div class="overlay">
          <h1 class="thumb">NORTHERN LAW WEBSITE</h1>
          <p>DISCOVER MORE</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail hovereffect" ng-click="$ctrl.prosmash('lg')">
        <img src="public/assets/prosmash.jpg" class="projectLrg">
        <div class="overlay">
          <h1 class="thumb">PROSMASH APPLICATION</h1>
          <p>DISCOVER MORE</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail hovereffect" ng-click="$ctrl.calc('lg')">
        <img src="public/assets/calc.jpg" class="projectLrg">
        <div class="overlay">
          <h1 class="thumb">CALCULATOR APPLICATION</h1>
          <p>DISCOVER MORE</p>
        </div>
      </div>
    </div>
</div>
<!-- SECOND ROW     -->
<div class="row projectDiv">
  <div class="col-md-4">
    <div class="thumbnail hovereffect" ng-click="$ctrl.malia('lg')">
      <img src="public/assets/malia.jpg" class="projectLrg">
      <div class="overlay">
        <h1 class="thumb">MALIA DRAGON BOAT RACING APPLICATION</h1>
        <p>DISCOVER MORE</p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="thumbnail hovereffect" ng-click="$ctrl.task('lg')">
      <img src="public/assets/task_attack.jpg" class="projectLrg">
      <div class="overlay">
        <h1 class="thumb">TO-DO LIST APPLICATION</h1>
        <p>DISCOVER MORE</p>
      </div>
    </div>
  </div>
    <div class="col-md-4">
      <div class="thumbnail hovereffect" ng-click="$ctrl.hope('lg')">
        <img src="public/assets/hope.jpg" class="projectLrg">
        <div class="overlay">
          <h1 class="thumb">HOPE FARM SCHOOL WEBSITE</h1>
          <p>DISCOVER MORE</p>
        </div>
      </div>
    </div>
  </div>

<!-- =========== MALIA DRAGON BOAT RACING ========== -->

      <div ng-controller="ModalDemoCtrl as $ctrl">
          <script type="text/ng-template" id="maliaBoat.html">
              <div class="modal-header">
                  <h3 class="modal-title" id="modal-title">MALIA DRAGON BOAT RACING APPLICATION</h3>
              </div>

              <div class="modal-body" id="modal-body">
                <h3><a class="ghost-button-transition-3" href="https://secure-shelf-37019.herokuapp.com/#/home" target="_blank" style="text-decoration:none;">LIVE APPLICATION DEMO</a></h3>
                <img class="imageHeader" src="public/assets/malia_2.jpg">
                  <div class="modal-header">
                    <h1 class="modal-title" id="modal-title">WIREFRAMES</h1>
                  </div>
                <img class="imageHeader" src="public/assets/malia_mock.jpg">
              </div>

              <div class="modal-footer">
                <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">BACK TO PROJECTS</button>
              </div>
          </script>
      </div>

<!-- =========== PROSMASH ========== -->

    <div ng-controller="ModalDemoCtrl as $ctrl">
        <script type="text/ng-template" id="proSmash.html">

            <div class="modal-header">
                <h3 class="modal-title" id="modal-title">PROSMASH APPLICATION</h3>
            </div>
            <div class="modal-body" id="modal-body">
              <h3><a class="ghost-button-transition-3" href="https://prosmash.herokuapp.com/#/login" target="_blank" style="text-decoration:none;">LIVE APPLICATION DEMO</a></h3>
              <img class="imageHeader" src="public/assets/prosmash_3.jpg">
              <div class="modal-header">
                <h1 class="modal-title" id="modal-title">WIREFRAMES</h1>
              </div>
              <img class="imageHeader" src="public/assets/prosmash_mock_1.jpg">
              <img class="imageHeader" src="public/assets/prosmash_mock_2.jpg">

            </div>

            <div class="modal-footer">
              <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">BACK TO PROJECTS</button>
            </div>
        </script>
    </div>

<!-- =========== NORTHERN LAW ========== -->

    <div ng-controller="ModalDemoCtrl as $ctrl">
        <script type="text/ng-template" id="nl.html">

            <div class="modal-header">
                <h3 class="modal-title" id="modal-title">NORTHER LAW WEBSITE</h3>
            </div>

            <div class="modal-body" id="modal-body">
              <h3><a class="ghost-button-transition-3" href="http://www.northern-law.com/" target="_blank" style="text-decoration:none;">LIVE APPLICATION DEMO</a></h3>
              <p class="projectText"> Northern Law is a Wordpress website with a pre-made theme and custom CSS and HTML.</p>
              <!-- <img class="imageHeader" src="public/assets/nl_page.jpg"> -->
            </div>

            <div class="modal-footer">
              <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">BACK TO PROJECTS</button>
            </div>
        </script>
    </div>

<!-- =========== HOPE FARM SCHOOL ========== -->

    <div ng-controller="ModalDemoCtrl as $ctrl">
        <script type="text/ng-template" id="hope.html">

            <div class="modal-header">
                <h3 class="modal-title" id="modal-title">HOPE FARM SCHOOL WEBSITE</h3>
            </div>

            <div class="modal-body" id="modal-body">
              <h3><a class="ghost-button-transition-3" href="http://www.hopefarmschool.org/" target="_blank" style="text-decoration:none;">LIVE APPLICATION DEMO</a></h3>
              <p class="projectText"> Hope Farm School is a Squarespace website with custom CSS.</p>
              <!-- <img class="imageHeader" src="public/assets/nl_page.jpg"> -->
            </div>

            <div class="modal-footer">
              <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">BACK TO PROJECTS</button>
            </div>
        </script>
    </div>

<!-- =========== TO-DO LIST ========== -->

    <div ng-controller="ModalDemoCtrl as $ctrl">
        <script type="text/ng-template" id="task.html">

            <div class="modal-header" >
                <h3 class="modal-title" id="modal-title">TO-DO LIST APPLICATION</h3>

            </div>

            <div class="modal-body" id="modal-body">
              <h3><a class="ghost-button-transition-3" href="https://task-attacker.herokuapp.com/" target="_blank" style="text-decoration:none;">LIVE APPLICATION DEMO</a></h3>
              <p class="projectText">Technologies used: HTML, CSS, Bootstrap, jQuery, NodeJs, PostgreSQL </p>
            </div>

            <div class="modal-footer">
              <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">BACK TO PROJECTS</button>
            </div>
        </script>
    </div>

<!-- =========== CALCULATOR ========== -->

    <div ng-controller="ModalDemoCtrl as $ctrl">
        <script type="text/ng-template" id="calc.html">

            <div class="modal-header">
                <h3 class="modal-title" id="modal-title">CALCULATOR APPLICATION</h3>
            </div>

            <div class="modal-body" id="modal-body">
              <h3><a class="ghost-button-transition-3" href="https://damp-mountain-17377.herokuapp.com/" target="_blank" style="text-decoration:none;">LIVE APPLICATION DEMO</a></h3>
              <p class="projectText">Technologies used: HTML, CSS, Bootstrap, jQuery, NodeJs </p>
            </div>

            <div class="modal-footer">
              <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">BACK TO PROJECTS</button>
            </div>
        </script>
    </div>

  </body>

  <div class="linkDiv">
    <a class="socialLinks" href="https://www.linkedin.com/in/waldroncraig"><i class="fa fa-linkedin fa-2x" aria-hidden="true"></i></a>
    <a class="socialLinks" href="https://github.com/craigjwaldron"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a>
    <a class="socialLinks" href="https://codepen.io/craigdubya/"><i class="fa fa-codepen fa-2x" aria-hidden="true"></i></a>
  </div>

</html>
